*{
    box-sizing: border-box;
    color: #333333;
    font-family: 'Markazi Text', serif;
}

.tayssir-title {
    width: 90%;
    height: auto;
    padding: 50px;
    margin: 50px auto;
    font-weight: bold;
    font-size: 35px;
    line-height: 50px;
}

.guide-btn{
    display: block;
    width: 250px;
    height: auto;
    padding: 8px;
    margin: 100px auto;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
    outline: none;
    letter-spacing: 1.5px;
}

.guide-btn:hover{
    color: #333333;
    border: 1px solid #333333;
    background-color: transparent;
}

#fill-your-info{
    padding: 100px 0px 100px 0px;
}

.tayssir-tab {
    font-size: 20px;
    font-weight: bold;
}

.arabic-align {
    float: right;
}

label {
    font-weight: bold;
}

input, select, textarea {
    font-weight: bold;
}

.info-submit {
    font-size: 24px;
    font-weight: bold;
    border-radius: 0px;
}