/*Logo is currently hidden until we found one*/
.logo-visibility{
    visibility: hidden;
}

.nav-design{
    background-color: transparent;
    border-bottom: 1px solid #333333;
}

.nav-title{
    width: 125px;
    font-size: 25px;
    font-family: 'Markazi Text', serif;
    letter-spacing: .5px;
    border: 1px solid #333333;
    background-color: transparent;
    color: #333333;
    padding: 3px 0px 3px 0px;
}