.tayssir-title {
    padding: 20px;
    font-weight: bold;
}

.tayssir-tab {
    font-size: 20px;
    font-weight: bold;
}

.arabic-align {
    float: right;
}

label {
    font-weight: bold;
}

input, select, textarea {
    font-weight: bold;
}