<tayssir-navbar></tayssir-navbar>

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-1">
        </div>
        <div class="col-10">

            <h4 class="display-6 text-center tayssir-title">
                الهدف من هذه المنصة هو مساندة الفئة الهشة من المجتمع المغربي خلال محنة الجائحة العالمية لفيروس كورونا
                المستجد ممن يمارسون مهن غير مهيكلة ، الحرة و الغير مصرح بهم لدى الصندوق الوطني للضمان الإجتماعي
            </h4>

            <div>
                <tabset [justified]="true">
                    <tab heading="معلومات الموقع">
                        <form>

                            <div class="form-group">
                                <label class="arabic-align">الاسم مقدم</label>
                                <input type="text" class="form-control" placeholder="الاسم الكامل">
                            </div>

                            <div class="form-group">
                                <label class="arabic-align">المدينة *</label>
                                <select class="form-control">
                                    <option selected>الدار البيضاء</option>
                                    <option value="1">الدار البيضاء</option>
                                    <option value="2">الدار البيضاء</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="arabic-align">المحافظة *</label>
                                <select class="form-control">
                                    <option selected>المحافظة 1</option>
                                    <option value="1">المحافظة 2</option>
                                    <option value="2">المحافظة 3</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="arabic-align">دائرة *</label>
                                <select class="form-control">
                                    <option selected>دائرة 1</option>
                                    <option value="1">دائرة 2</option>
                                    <option value="2">دائرة 3</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="arabic-align">قيادة *</label>
                                <select class="form-control">
                                    <option selected>قيادة 1</option>
                                    <option value="1">قيادة 2</option>
                                    <option value="2">قيادة 3</option>
                                </select>
                            </div>

                        </form>
                    </tab>
                    <tab heading="معلومات وظيفة">
                        <form>
                            <div class="form-group">
                                <label class="arabic-align">مهنة *</label>
                                <select class="form-control">
                                    <option selected>نجار</option>
                                    <option value="1">حداد</option>
                                    <option value="2">بائع</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="arabic-align">عنوان مهنة *</label>
                                <textarea type="text" class="form-control" placeholder="عنوان مهنة"></textarea>
                            </div>
                        </form>
                    </tab>
                    <tab heading="معلومات شخصية" active=true>
                        <form>
                            <div class="form-group">
                                <label class="arabic-align">الاسم الكامل *</label>
                                <input type="text" class="form-control" placeholder="الاسم الكامل">
                            </div>
                            <div class="form-group">
                                <label class="arabic-align">عنوان *</label>
                                <textarea type="text" class="form-control" placeholder="عنوان"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="arabic-align">هاتف *</label>
                                <input type="text" class="form-control" placeholder="هاتف">
                            </div>
                            <div class="form-group">
                                <label class="arabic-align">رقم البطاقة وطنية *</label>
                                <input type="text" class="form-control" placeholder="رقم البطاقة وطنية">
                            </div>
                            <div class="form-group">
                                <label class="arabic-align">الوجه أمامي البطاقة وطنية</label>
                                <input type="file" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="arabic-align">الوجه خلفي البطاقة وطنية</label>
                                <input type="file" class="form-control">
                            </div>
                        </form>
                    </tab>
                </tabset>

                <button type="submit" class="btn btn-primary">أرسل</button>

            </div>

        </div>
        <div class="col-1">
        </div>
    </div>
</div>